.background img {
    width: 100%;
    position: absolute;
    opacity: 0.6;
}

#leitmotiv {
    position: relative;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    padding-top: 3rem;
}
