img {
    width: 100%;
    position: absolute;
    margin-top: -1.5rem;
}

#leitmotiv {
    position: relative;
    text-align: center;
    font-size: 1.7rem;
    color: #dfdff0;
    padding-top: 3rem;
}
