.sign {
  position: relative;
  font-size: 1.3rem;
  line-height: 3em;
  border: 0.5px solid #fff;
  background: rgba(25, 25, 25 ,0.3);
  border-radius: 1em;
  width: 20em;
  margin: auto;
  padding: 1em;
  margin-top: 22em;
}

#blink {
  -webkit-animation: blink 0.01s infinite alternate;
  -moz-animation: blink 0.01s infinite alternate;
  -o-animation: blink 0.01s infinite alternate;
  animation: blink 0.01s infinite alternate;
}

.sizzle, #point {
  color: #ebffff;
  -webkit-animation: fade 3s infinite alternate;
  -moz-animation: fade 3s infinite alternate;
  -o-animation: fade 3s infinite alternate;
  animation: fade 3s infinite alternate;
}

.point {
  font-size: 1.5em;
}
  
.neon-blue {
  text-align: center;
  color: #ebffff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3), 0 0 20px #38eeff, 0 0 20px #38eeff;
  font-size: 4em;
  color:#fff;
  position: relative;
}

.neon-white {
  font-family: 'League Script', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #e0c3fc, 0 0 50px #e0c3fc;
}

@-moz-keyframes blink {
  70% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  40% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fade {
  40% {
    opacity: 0.5;
  }
}
@-o-keyframes fade {
  40% {
    opacity: 0.8;
  }
}
@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
