.bio-content {
    position: relative;
    width: 97%;
    margin-left: 1.5rem;
    padding: 4rem;
    border-radius: 1rem;
    margin-bottom: 7rem;
    background: rgba(22,22,22, 0.8);
    text-align: center;
}
