.info-content {
    position: relative;
    width: 200%;
    padding: -1rem 1rem;
    height: 26rem;
    margin-left: 5.5%;
    margin-right: 4.5rem;
    border-radius: 0.5em;
    background: rgba(22,22,22, 0.8);
    text-align: center;
  }
  

@media (min-width: 1281px) and (max-width: 1920px){
  .info-content{
    height: 37.6rem;
    padding: 3rem;
  }
}