.back_cv img {
    position: absolute;
    position: fixed;
    background-size: cover;
    margin-top: -1rem;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.back_cv, .footer {
    margin-bottom: 0.8rem;
}