.bio-content .bio h1 {
  font-size: 5rem;
  font-weight: 600;
}

.bio-content a {
  color: #fff;
}

h2 {
  font-size: 3.5em;
  font-weight: 600;
}

@keyframes bg {
  0% {
    background-position-x: 50em;
  }
  100% {
    background-position-x: 200em;
  }
}




