.ContactFormular, h1 {
    font-size: 5rem;
    margin-top: 1rem;
}

.ContactFormular, .background, img {
    margin-bottom: 1rem;
}

form {
    height: 36.7rem;
}

input {
    margin-bottom: 0.5rem;
}

.formular-button #box-button {
    position: absolute;
    width: 15rem;
    height: 5rem;
    margin-top: 33rem;
}
