.skills li {
    position: relative;
    list-style: none;
    display: flex;
    display: inline-block;
    padding-right: 6rem;
    margin-top: 0.7rem;
    font-size: 5.7em;
}

.skills li {
    text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 11px #4ef1ff;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
}
