.container-content {
  padding: 0.1em;
  width: 30%;
  margin-left: 62em;
  margin-bottom: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0em 0.5em rgba(0,0,0,0.2);
  text-align: center;
}

@media screen and (max-width: 45em) {

  .container-content {

    padding: 2em;
    width: 70%;
 }

} 
