.enterButton {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .enterButton b{
    font: 3.5em "Vibur";
    color:#fee;
    text-shadow: 0 -30px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em pink;
    border: 2px solid black;
  }
  .enterButton b span{
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      /* text-shadow: inherit; */
    }
    /* 100%{
       color: #333;
    } */
    /* 80% {
      
      text-shadow: none;
    } */
    /* 81% {
      color: inherit;
      text-shadow: inherit;
    } */
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  