form {
    padding: 0rem 4rem;
}

#subscribers-form h1 {
    margin-bottom: -1rem;
}

input {
    margin: 0.5rem;
}

textarea {
    width: 52.5rem;
    height: 10rem;
}

input[type='text'] {
    width: 25rem;
}

input[name='phoneNumber'] ,input[name='lastName'] {
    margin-right: 2rem;
}

input[type='submit'] {
    margin-left: 53rem;
}

#subscribers-form #box-button {
    position: relative;
    margin-top: 2rem;
    margin-left: 50rem;
    width: 9rem;
    height: 2.5rem;
}

@media (min-width: 1281px) and (max-width: 1920px) 
{
  form {
      padding: 0rem 15rem;
  }

  #subscribers-form h1 {
    margin-top: -1rem;
}  

  input {
    max-width: 30rem;
  }

    textarea {
        margin-bottom: 8rem;
    }
}

@media (min-width: 768px) and (max-width: 1279px){
    form {
        padding : 3rem 8rem;
    }
    textarea {
        width: 25rem;
    }
    #subscribers-form #box-button {
        margin-left: 21rem;
        margin-bottom: 1.2rem;
    }
    input[name='phoneNumber'] ,input[name='lastName'] {
        margin-right: 0.5rem;
    }
}