form {
    padding: 0rem 4rem;
}

#subscribers-form h1 {
    margin-top: 0.5rem;
}

input {
    margin: 0.5rem;
}

textarea {
    width: 52.5rem;
    height: 8.2rem;
}

input[type='text'] {
    width: 25rem;
}

input[name='phoneNumber'] ,input[name='lastName'] {
    margin-right: 2rem;
}

input[type='submit'] {
    margin-left: 53rem;
}

#subscribers-form #box-button {
    position: relative;
    margin-top: 2rem;
    margin-left: 50rem;
    width: 9rem;
    height: 2.5rem;
}

@media all and (max-width: 1024px) 
{
  input {
    max-width: 15rem;
  }

  #subscribers-form #box-button {
      margin: auto;
  }

    textarea {
        max-width: 15rem;
        margin-bottom: 1rem;
    }
}