.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(100%) brightness(200%);
}
.neon {
  position: relative;
  background: black;
  /* color: transparent; */
  font: 2.5rem 'Lato', sans-serif;
  text-transform: uppercase;
  border-radius: 0.3em;
  width: 7.5em;
  margin-left: 13em;
}
.neon::before, .neon::after {
  content: attr(data-text);
  color: white;
  margin-left: 0.4em;
  filter: blur(0.01em);
  position: absolute;
  top: 0;
  left: 0;
}
.neon::after {
  mix-blend-mode: difference;
}
.gradient, .spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 18em;
  margin: 2.15em;
  margin-left: 33em;
}
.gradient {
  background: linear-gradient(45deg, #ff9a9e, #e0c3fc);
  mix-blend-mode: multiply;
}
.spotlight {
  animation: light 20s infinite linear;
  background: radial-gradient(circle, white, transparent 30%) 0 0 / 15% 15%, radial-gradient(circle, white, black 25%) 25% 25% / 10% 10%;
  top: -5%;
  left: -5%;
  mix-blend-mode: color-dodge;
}
@keyframes light {
  100% {
    transform: translate3d(50%, 18%, 0);
  }
}
