.skills li {
    list-style: none;
    display: inline-block;
    margin-right: 3rem;
    margin-top: 1rem;
    height: 5.92rem;
}

.skills li {
    font-size: 3.5em;
    text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 11px #4ef1ff;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (min-width: 1281px) and (max-width: 1920px) {
    .skills li{
    margin-top: 2rem;
    font-size: 5rem;
    margin-right: 5rem;
    }
}
